.button {
  position: relative;
  z-index: 1;

  display: block;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 12px;
  padding-left: 30px;

  font-family: inherit;
  font-size: @font-size--smallen;
  text-align: center;
  color: saturate(@color-main, 20%);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;

  background-color: transparent;
  border: 2px solid;
  border-color: saturate(@color-main, 20%);
  border-radius: @border-radius;
  cursor: pointer;

  transition: @transition-full--long;

  user-select: none;

  touch-action: manipulation;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;

    width: 0;
    height: 0;

    background-color: saturate(@color-main, 20%);

    transition: all @transition-duration;
  }

  &:hover,
  &:focus {
    color: @white;

    border-color: saturate(@color-main, 20%);

    &::after {
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }

  &:active {
    border-color: darken(saturate(@color-main, 20%), 20%);

    &::after {
      background-color: darken(saturate(@color-main, 20%), 20%);
    }
  }
}
