.certificates {
  padding-top: @padding-top-base;
  padding-bottom: @padding-bottom-base;

  &__title {
    margin-bottom: @typo-margin-bottom;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 1060px;
    margin: 0 auto;
  }

  &__item {
    padding: 5px;

    border: 5px solid saturate(@color-main, 20%);
    background-color: lighten(saturate(@color-main, 30%), 20%);

    &:not(:nth-child(5n + 5)) {
      margin-right: 15px;
    }

    &:not(:nth-last-child(-n + 5)) {
      margin-bottom: 15px;
    }

    img {
      width: 180px;
      height: 260px;
    }
  }
}
