.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    font-family: @font-family--contrast;
    font-size: 30px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  a {
    color: inherit;
  }

  li.current a {
    cursor: default;
  }

  &--vertical {
    flex-direction: column;

    li {
      font-family: @font-family;
      font-size: @font-size;
    }
  }
}
