.services {
  background-color: #90d4ee;
  background-image: url("../img/service.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* stylelint-disable */
  &__title {}
  /* stylelint-enable */

  &__list {
    list-style: none;
  }

  &__list-item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      background-image: url("../img/check.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
