extends ../pug/layout.pug
include ../pug/mixins/header.pug
include ../pug/mixins/footer.pug
include ../pug/data/pages-list.pug
include ../pug/data/about-page.pug

block meta
  title НордВест - О компании
  meta(name='description', content='')

block header
  +header(pagesList, 4)

block content
  .page-container
    section.staff
      .container
        h2 Кто работает для Вас?
        ul.staff__list
          li
            img(src='img/grinir.jpg', width='368', height='295', alt='Гриневич Ирина')
            cite Гриневич Ирина
            q Требования к себе и компании определяют наш вектор развития!
            p Основатель компании
          li
            img(src='img/neizvmar.jpg', width='272', height='256', alt='Неизвестная Мария')
            cite Неизвестная Мария
            q Важно, чтобы наши клиенты понимали: их мнение играет важную роль!
            p Работает в компании с 2013 года
          li
            img(src='img/mamonsvet.jpg', width='272', height='256', alt='Мамонтова Светлана')
            cite Мамонтова Светлана
            q Самое главное - подходить к работе с полной самоотдачей!
            p Работает в компании с 2007 года
          li
            img(src='img/fayznad.jpg', width='272', height='256', alt='Файрузова Надежда')
            cite Файрузова Надежда
            q Главное для меня это отвественность перед нашими клиентами!
            p Работает в компании с 2015 года

block footer
  +footer(pagesList, 4)
