extends ../pug/layout.pug

block meta
  title НордВест - Контакты
  meta(name='description', content='')

block header
  +header(pagesList, 5)

block content
  .page-container
    h1.visually-hidden Наши контакты

    section.contacts
      h2.contacts__title.section-title Контакты
      .contacts__wrap
        .contacts__addres-part
          p.contacts__item
            span.contacts__item-title Адрес:
            br
            | 454004, Челябинск, ул. Академика Сахарова 34. #[i Тут может быть подробное описание того, как найти организацию]
          .contacts__map#map

        .contacts__contact-part
          p.contacts__item
            span.contacts__item-title Время работы:
            br
            | найти нас в офисе можно с&nbsp;понедельника&nbsp;по&nbsp;пятницу с 11:00 до 18:00
          p.contacts__item
            span.contacts__item-title Если любите писать с личной почты:
            br
            a(href='mailto:mail@nordwest74.ru') mail@nordwest74.ru
          p.contacts__item
            span.contacts__item-title Телефон:
            br
            a(href='tel:+73512304216') +7 (351) 230-42-16
            |  - наш основной телефон;
            br
            a(href='tel:+79088209260') +7 (908) 820-92-60
            |  - запасной телефон.

    section.feedback
      h2.feedback__title.section-title Форма обратной связи
      form.feedback__form(action='#', method='get')
        .feedback__form-wrap
          .feedback__form-wrap-inner
            p.feedback__form-paragraph
              input.feedback__form-field#fullname(type='text', name='fullname', placeholder='Имя Отчество Фамилия', required, aria-label='Как к Вам обращаться?')
              label.feedback__form-label(for='#fullname')
                svg.feedback__form-label-icon(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 4980.7 4785.4', height='15')
                  path(d='M1715.7,2759.1C791,2759.1,0,3419,0,4307v478.4h4980.7V4307c0-888-791-1548-1715.7-1548v-0.7c-122.6,0-177.6-155.3-81.3-232C4150.4,1753.7,3674.6,0,2490.4,0C1563,0,1002,1128.5,1415.6,2030.3c206.4,451.5,431.2,454.2,431.2,597.7C1846.8,2700.7,1787.8,2759.1,1715.7,2759.1z')
                | Как к Вам обращаться?
            p.feedback__form-paragraph
              input.feedback__form-field#telephone(type='tel', name='telephone', placeholder='+7 9XX XXXXXXX', required, aria-label='Номер телефона')
              label.feedback__form-label(for='#telephone')
                svg.feedback__form-label-icon(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 83.2 68.2', height='15')
                  path(d='M41.6,0C18.6,0,0,7.2,0,16.2v7c0,2.9,5.2,5.3,11.5,5.3c6.4,0,11.5-2.4,11.5-5.3c0,0,0,0,0,0V20c0-4.6,8.3-8.3,18.5-8.3c10.2,0,18.5,3.7,18.5,8.3v3.2c0,2.9,5.2,5.3,11.5,5.3c6.4,0,11.5-2.4,11.5-5.3v-7C83.2,7.2,64.5,0,41.6,0z')
                  path(d='M63,34.6c-7.8,0-6.9-15.1-6.9-15.1l-6.4-1c-0.5,1.5-1.3,2.8-2.4,3.9c-1.6,1.5-3.8,2.5-6.2,2.5c-2.2,0-4.3-0.8-5.8-2.1c-1.3-1.1-2.3-2.5-2.8-4.2c-3.1,0.4-5.6,1-5.6,1s0.9,15.1-6.9,15.1s-7.5,14.9-7.5,14.9h0v13.5c0,2.9,2.5,5.2,5.7,5.2h46.9c3.1,0,5.7-2.3,5.7-5.2V49.6h0C70.6,49.6,70.8,34.6,63,34.6z M52.6,49.6c-1.5,4.9-6.1,8.4-11.5,8.4c-5.4,0-10-3.5-11.5-8.4c-0.4-1.1-0.6-2.4-0.6-3.6c0-6.7,5.4-12.1,12.1-12.1c6.7,0,12.1,5.4,12.1,12.1C53.2,47.2,53,48.4,52.6,49.6z')
                | Телефон
            p.feedback__form-paragraph.feedback__form-paragraph--lower
              input.feedback__form-field#email(type='email', name='email', placeholder='xxxxx@xxxxx.xx', required, arial-label='E-mail')
              label.feedback__form-label(for='#email')
                svg.feedback__form-label-icon(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 100 64.5', height='15')
                  path(d='M52.2,30.3L93.9,0H6.1l41.7,30.3C49.2,31,50.8,31,52.2,30.3z')
                  path(d='M98.9,2.4L54.8,34.5l-0.2,0.1c-2.9,1.5-6.3,1.5-9.2,0l-0.2-0.1l-0.2-0.1l-44-32C0.4,3.4,0,4.6,0,5.9v52.8c0,3.2,2.6,5.9,5.9,5.9l0,0h88.3c3.2,0,5.9-2.6,5.9-5.9l0,0V5.9C100,4.6,99.6,3.4,98.9,2.4z')
                | E-mail
          p.feedback__form-paragraph.feedback__form-paragraph--lower
            textarea.feedback__form-field.feedback__form-field--textarea#comments(name='comments', placeholder='Текст обращения', required, aria-label='Чем можем помочь?')
            label.feedback__form-label(for='#comments') Чем можем помочь?
        button.feedback__form-submit.button(type='submit') Отправить

block footer
  +footer(pagesList, 5)

block page-bottom
  script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
  script(src='js/script.min.js')
