extends ../pug/layout.pug

block meta
  title НордВест - Контакты
  meta(name='description', content='')

block header
  +header(pagesList, 5)

block content
  .page-container
    h1.page-title Если у Вас есть вопросы - напишите нам

    section.feedback
      .container
        h2 Форма обратной связи
        form.feedback__form(action='#', method='get')
          //- TODO: вместо div'а обернуть в fieldset без legend'а?¿
          .feedback__form-wrap
            label
              input#name(type='text', name='name', placeholder='Ваши ФИО')
            label
              input#telephone(type='tel', name='telephone', placeholder='Номер телефона')
            label
              input#email(type='email', name='email', placeholder='Ваш e-mail')
          label
            textarea#comments(name='comments', placeholder='Комментарии')
          button(type='submit') Отправить

block footer
  +footer(pagesList, 5)
