include data/contacts-page.pug
include mixins/header.pug
include mixins/footer.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title НордВест - Контакты
  body
    +header(pagesList, 5)

    main.page-main
      div.page-container
        h1.page-title Если у Вас есть вопросы - напишите нам

        section.feedback
          div.container
            h2 Форма обратной связи
            form.feedback__form(action="#", method="get")
              div
                label
                  input#name(type="text", name="name", placeholder="Ваши ФИО")
                label
                  input#telephone(type="tel", name="telephone", placeholder="Номер телефона")
                label
                  input#email(type="email", name="email", placeholder="Ваш e-mail")
              label
                textarea#comments(name="comments" placeholder="Комментарии")
              button(type="submit") Отправить

    +footer(pagesList, 5)
