extends ../pug/layout.pug
include ../pug/mixins/header.pug
include ../pug/mixins/section-list.pug
include ../pug/mixins/footer.pug
include ../pug/data/pages-list.pug
include ../pug/data/index-page.pug

block meta
  title НордВест - Главная
  meta(name='description', content='')

block header
  +header(pagesList, 1)

block content
  h1.visually-hidden Основные сведения о компании
  section.intro-block
    .intro-block__wrap
      p.intro-block__text.intro-block__text--first «Мы на рынке уже более 7 лет
      p.intro-block__text.intro-block__text--second своим клиентам гарантируем результат!»

  +section-list(clientsData)

  +section-list(servicesData)

  section.certificates
    - var certificatesNumber = 10;
    .container
      h2 Наши сертификаты
      ul.certificates__list
        - for (var i = 1; i <= certificatesNumber; ++ i) {
          li
            img(src='img/cert'+i+'.jpg', width='170', height='255', alt='Сертификат')
        - }

  section.reviews
    .container
      h2 Отзывы
      ul.reviews__list
        li
          img(src='img/vasyapetr.jpg', width='108', height='108', alt='Вася Петров')
          cite Вася Петров
          p директор
          p ООО “Где деньги, Зин?”
          blockquote
            | Повседневная практика показывает, что консультация с широким активом способствует подготовки и реализации соответствующий условий активизации.
            | Таким образом реализация намеченных плановых заданий играет важную роль в формировании направлений прогрессивного развития.
            | Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки новых предложений.
            | Не следует, однако забывать, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
          a(href='#') Подробнее
        li
          img(src='img/zinasobstv.jpg', width='108', height='108', alt='Зина Собственно')
          cite Зина Собственно
          p директор
          p ООО “Не знаю, Вася”
          blockquote
            | С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
            | Таким образом консультация с широким активом позволяет выполнять важные задания по разработке соответствующий условий активизации.
            | Таким образом новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.
            | Не следует, однако забывать, что консультация с широким активом играет важную роль в формировании соответствующий условий активизации.
          a(href='#') Подробнее
        li
          img(src='img/vassazhel.jpg', width='108', height='108', alt='Васса Железнова')
          cite Васса Железнова
          p директор
          p ЦКиЗ “Никто не заметит”
          blockquote
            | Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке новых предложений.
            | С другой стороны начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.
            | Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют определения и уточнения систем массового участия.
            | Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            | Задача организации, в особенности же сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
            | Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации форм развития.
          a(href='#') Подробнее

  section.map
    h2 Наше местоположение
      .map__container
        .map__block

block footer
  +footer(pagesList, 1)
