doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Главная
  body
  - var headerPagesList = [{title: "Главная"}, {title: "Прайс", href: "price.html"}, {title: "Новости", href: "news.html"}, {title: "О компании", href: "about.html"}, {title: "Контакты", href: "contacts.html"}, {title: "Центр обучения", href: "training.html"}];
    include includes/header.pug
    main.page-main
      h1.visually-hidden Основные сведения о компании
      div.intro-block
        div.container
          p «Мы на рынке уже более 7 лет
          p своим клиентам гарантируем результат!»
      section.clients
        div.container
          h2.clients__header Кому мы предоставляем услуги?
          ul.clients__list
            li Предприятиям, уставщим от неоптыных бухгалтеров
            li Предпринимателям, чей бюджет не позволяет иметь штатного бухгалтера
            li Тем, кто заптулся в сложной документации
            li Тем, кто хотел бы реорганизовать и отптимизировать свою финанасовую и налоговую деятельность
            li Тем, кто ищет новый вектор развития
      section.services
        div.container
          h2.services__header Какие услуги мы предоставляем?
          ul.services__list
            li Бухгалтерское обслуживание предприятий малого и среднего бизнеса на основе аутсорсинга
            li Восстановление бухгалтерского и налового учета
            li Постановка бухгалтерского и налового учета предприятий
            li Составление и сдача отчетности в налоговые органы, #[abbr(title="Пенсионный фонд РФ") ПФР], #[abbr(title="Фонд социального страхования РФ") ФСС], РФ
            li Составление и печать первичных документов
            li Ведение и учет заработной платы
            li Ведение кадрового делопроизводства
            li Экспертиза (оценка) сосотяние бухгалтерского учета
            li Налоговое планирование и администрирование
            li Консультационные услуги по бухгалтерскому учету и налогообложению
      section.staff
        div.container
          h2.staff__header Кто работает для Вас?
          ul.staff__list
            li
              img(src="img/", width="368", height="295", alt="Гриневич Ирина")
              cite Гриневич Ирина
              q Требования к себе и компании определяют наш вектор развития!
              p Основатель компании
            li
              img(src="img/", width="272", height="256", alt="Неизвестная Мария")
              cite Неизвестная Мария
              q Важно, чтобы наши клиенты понимали: их мнение играет важную роль!
              p Работает в компании с 2013 года
            li
              img(src="img/", width="272", height="256", alt="Мамонтова Светлана")
              cite Мамонтова Светлана
              q Самое главное - подходить к работе с полной самоотдачей!
              p Работает в компании с 2007 года
            li
              img(src="img/", width="272", height="256", alt="Файрузова Надежда")
              cite Файрузова Надежда
              q Главное для меня это отвественность перед нашими клиентами!
              p Работает в компании с 2015 года
      section.cartifacares
        div.container
          h2.certificates__header Наши сертификаты
          ul.certificates__list
            li
              img(src="img/", width="170", height="255", alt="Сертификат")
            li
              img(src="img/", width="170", height="255", alt="Сертификат")
            li
              img(src="img/", width="170", height="255", alt="Сертификат")
            li
              img(src="img/", width="170", height="255", alt="Сертификат")
            li
              img(src="img/", width="170", height="255", alt="Сертификат")
            li
              img(src="img/", width="170", height="255", alt="Сертификат")
            li
              img(src="img/", width="170", height="255", alt="Сертификат")
            li
              img(src="img/", width="170", height="255", alt="Сертификат")
            li
              img(src="img/", width="170", height="255", alt="Сертификат")
            li
              img(src="img/", width="170", height="255", alt="Сертификат")
      section.reviews
        div.container
          h2.reviews__header
          ul.reviews__list
            li
              img(src="img/", width="108", height="108" alt="Вася Петров")
              cite Вася Петров
              p директор
              p ООО “Где деньги, Зин?”
              blockquote Повседневная практика показывает, что консультация с широким активом способствует подготовки и реализации соответствующий условий активизации. Таким образом реализация намеченных плановых заданий играет важную роль в формировании направлений прогрессивного развития. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки новых предложений. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
              a(href="#") Подробнее
            li
              img(src="img/", width="108", height="108" alt="Зина Собственно")
              cite Зина Собственно
              p директор
              p ООО “Не знаю, Вася”
              blockquote С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом консультация с широким активом позволяет выполнять важные задания по разработке соответствующий условий активизации. Таким образом новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что консультация с широким активом играет важную роль в формировании соответствующий условий активизации.
              a(href="#") Подробнее
            li
              img(src="img/", width="108", height="108" alt="Васса Железнова")
              cite Васса Железнова
              p директор
              p ЦКиЗ “Никто не заметит”
              blockquote Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке новых предложений. С другой стороны начало повседневной работы по формированию позиции позволяет оценить значение новых предложений. Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют определения и уточнения систем массового участия. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации форм развития.
              a(href="#") Подробнее
      section.feedback
        div.container
          h2.feedback__header Форма обратной связи
          form(action="#", method="get")
            div
              label
                input#name(type="text", name="name", placeholder="Ваши ФИО")
              label
                input#telephone(type="tel", name="telephone", placeholder="Номер телефона")
              label
                input#email(type="email", name="email", placeholder="Ваш e-mail")
            label
              textarea#comments(name="comments" placeholder="Комментарии")
            button(type="submit") Отправить
      section.map
        h2.map__header Наше местоположение
        div.map__container
          div.map__block
    - var footerPagesList = [{title: "Прайс", href: "price.html"}, {title: "Новости", href: "news.html"}, {title: "О компании", href: "about.html"}, {title: "Контакты", href: "contacts.html"}, {title: "Центр обучения", href: "training.html"}]
    include includes/footer.pug
