extends ../pug/layout.pug

block meta
  title НордВест - Новости
  meta(name='description', content='')

block header
  +header(pagesList, 3)

block content
  .container.container--reverse
    //- TODO: блоку-контейнеру задать display: flex и flex-direction: column-reverse, чтобы при добавлении новой новости в документ снизу, она отображалась вверху
    h1.visually-hidden Новости ООО 'НордВест'

    article.news-card
      header
        h1 Заголовок поста
        time(datetime='2016-07-06T11:00:00') 06.07.2016
      section.news-card__content.news-content
        p
          | Равным образом постоянный количественный рост и сфера нашей активности позволяет
          | выполнять важные задания по разработке направлений прогрессивного развития.
          | Равным образом укрепление и развитие структуры представляет собой интересный эксперимент
          | проверки направлений прогрессивного развития.

    article.news-card
      header
        h1 Заголовок поста
        time(datetime='2016-11-25T17:43:00') 25.11.2016
      section.news-card__content.news-content
        p
          | Равным образом постоянный количественный рост и сфера нашей активности позволяет
          | выполнять важные задания по разработке направлений прогрессивного развития.
          | Равным образом укрепление и развитие структуры представляет собой интересный эксперимент
          | проверки направлений прогрессивного развития.

    article.news-card
      header
        h1 Заголовок поста
        time(datetime='2017-03-08T15:59:17') 08.03.2017
      section.news-card__content.news-content
        p
          | Равным образом постоянный количественный рост и сфера нашей активности позволяет
          | выполнять важные задания по разработке направлений прогрессивного развития.
          | Равным образом укрепление и развитие структуры представляет собой интересный эксперимент
          | проверки направлений прогрессивного развития.

block footer
  +footer(pagesList, 3)
