extends ../pug/layout.pug
include ../pug/mixins/header.pug
include ../pug/mixins/footer.pug
include ../pug/data/pages-list.pug
include ../pug/data/training-page.pug

block meta
  title НордВест - Тренинги
  meta(name='description', content='')

block header
  +header(pagesList, 6)

block content
  .page-container

block footer
  +footer(pagesList, 6)
