// глобальные стили
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 680px;
  font-family: "Andante", "Helvetica", "Arial", sans-serif;
  font-size: 18px; /* @base-size */
  line-height: 1.25; /* @base-height */
  font-weight: 400;
  color: #000000; /* @base-text-color */
  background-color: #f3f1f1; /* @body-bg-color */
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
