mixin footer(data, current)
  footer.page-footer
    .page-footer__wrap
      nav.page-footer__navigation
        ul.page-footer__navigation-list.navigation-list.navigation-list--vertical
          each item, index in data
            if index !== current - 1
              li.navigation-list__item
                a.link.link--dark(href=item.href)= item.title
      .page-footer__contacts
        a.link.link--dark.link--inverse.page-footer__contacts-item(href='tel:+73512304216') +7 (351) 230-42-16
        a.link.link--dark.link--inverse.page-footer__contacts-item(href='tel:+79088209260') +7 (908) 820-92-60
        a.link.link--dark.link--inverse.page-footer__contacts-item(href='mailto:mail@nordwest74.ru') mail@nordwest74.ru
    p.page-footer__copyright ООО “НордВест” 2007-2019
