-
  var pagesList = [
    {title: "Главная", href: "index.html"},
    {title: "Прайс", href: "price.html"},
    {title: "Новости"},
    {title: "О компании", href: "about.html"},
    {title: "Контакты", href: "contacts.html"},
    {title: "Центр обучения", href: "training.html"}
  ];
