-
  var pagesList = [
    {title: "Главная", href: "index.html"},
    {title: "Прайс"},
    {title: "Новости", href: "news.html"},
    {title: "О компании", href: "about.html"},
    {title: "Контакты", href: "contacts.html"},
    {title: "Центр обучения", href: "training.html"}
  ];
